build
lxbuild
winbuild
wbuild
.vs
.vscode/.cmaketools.json
.vscode
.DS_Store
etc/nng.sublime-workspace

z
/GTAGS
/GPATH
/GRTAGS
/examples/bus
/examples/consumer
/examples/czmq/pub
/examples/czmq/sub
/examples/pair
/examples/producer
/examples/czmq/compile_commands.json
